body {
    font-family: 'Roboto', sans-serif !important;
}

.custom-nv {
    padding-left: 4rem !important;
}

.custom-nv li a {
    margin-right: 2rem;
}
.font {
    font-size: 4.5rem;
}

.bg-imges {
    filter: brightness(55%);
}

.height-img img {
    height: 95vh !important;
}